extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
    .row.row-cols-1.row-cols-md-3
      .col.mb-4
        .card.h-100
          img(src="./public/images/bg.jpg", class = 'card-img-top', alt="...")
          .card-body
            h5 card-titleCard title
            p card-tex little bit longer
  
      .col.mb-4
        .card.h-100
          img(src="./public/images/bg.jpg", class = 'card-img-top', alt="...")
          .card-body
            h5 card-titleCard title
            p card-textThis is a short card     
      .col.mb-4
        .card.h-100
          img(src="./public/images/bg.jpg", class = 'card-img-top', alt="...")
          .card-body
            h5 card-titleCard title
            p card-textThis is a longer card with supporting text below as a natural lead-in to additional content.
      .col.mb-4
        .card.h-100
          img(src="./public/images/bg.jpg", class = 'card-img-top', alt="...")
          .card-body
            h5 card-titleCard title
            p card-textThis is a longer card with suppot.